<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	useLargeImages="2048"
	useSmallImages="800"
	galleryTitle="Mobishare Photo Gallery"
	galleryHeight="300"
	useThumbDots="false"
	useFullscreenExpand="false"
	showExpandButton="true"

>
  <image imageURL="images/2015-03-09 13.00.17.jpg"
	thumbURL="thumbs/2015-03-09 13.00.17.jpg"
	linkURL="images/avocado.jpg"
	linkTarget="_blank"
    <title><![CDATA[Avocado]]></title>
    <caption><![CDATA[Avocado Tree]]></caption>
  </image>
  <image imageURL="images/tumblr_ndo142l92h1sxbss6o1_500.jpg"
	thumbURL="thumbs/tumblr_ndo142l92h1sxbss6o1_500.jpg"
	linkURL="taylorswift.jpg"
	linkTarget="_blank"
    <title><![CDATA[Taylorswift]]></title>
    <caption><![CDATA[Taylor Swift]]></caption>
  </image>
  <image imageURL="images/profile_img150x150.jpg"
	thumbURL="thumbs/profile_img150x150.jpg"
	linkURL="images/yoke.jpg"
	linkTarget="_blank"
    <title><![CDATA[Yoke]]></title>
    <caption><![CDATA[Yoke]]></caption>
  </image>
</juiceboxgallery>